<div class="start-grid">
  <div class="card-text1">
    <h3>Algunas historias te eligen a vos</h3>
    <p>Solo hace falta abrir la página correcta</p>
  </div>
  <div class=" card-text2">
    <h3>¿Sabias que...?</h3>
    <p>Entre las sombras de las páginas laten mundos enteros, esperando ser descubiertos. Leer es un ritual antiguo: encender la mente, sumergirse en lo desconocido, escuchar el murmullo de otras vidas. Quien lee, habita muchos cuerpos, muchas almas, muchos destinos.</p>
  </div>
</div>