:root {
  --primary: #424942;            
  --primary-dark: #16251C;       
  --primary-light: #A7C1A8;      
  
  --background: #071F24;         
  --background-alt: #E7EBE5;     
  --card-bg: #FFFFFF;            
  
  --shadow: rgba(0, 0, 0, 0.08); 
  --text-primary: #424942;
  --text-secondary: #d0d1d0;
  
  --border-radius: 16px;
  --transition: all 0.3s ease;
}

body {
  background: var(--background);
  color: var(--text-primary);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: 'poppins', serif;
  letter-spacing: -0.5px;
  color: var(--primary);
}
