:root{
    --primary: #131313;
    --primary-dark:#A7C1A8 ;
    --primary-light: #A7C1A8;    
 
  --background: #FAF1E6;       
  --card-bg: rgba(255, 255, 255, 0.05); 
  --shadow: rgba(0, 0, 0, 0.3);

  --text-primary: #0c0c0c;     
  --text-secondary: #424942;   
  --text-accent: #7b5ea8;      
  --text-muted: #6f6f6f;


  --input-bg: #1a1a1a;
    
}

body {
  background: var(--background);
  color: var(--text-primary);
  margin: 0;
  font-family: sans-serif;
}