<div class="catalog-container">
  <div class="catalog-menu">
    <button [class.active]="currentSection === 'home'" (click)="changeSection('home')">home</button>
    <button [class.active]="currentSection === 'featured author'" (click)="changeSection('featured author')">featured author</button>
    <button [class.active]="currentSection === 'pending reads'" (click)="changeSection('pending reads')">pending reads</button>
    <button [class.active]="currentSection === 'recommendations'" (click)="changeSection('recommendations')">recommendations</button>
    <button>&gt;</button>
  </div>

  <app-prominent-author *ngIf="currentSection === 'featured author'"></app-prominent-author>
  <app-recommendation *ngIf="currentSection === 'recommendations'"></app-recommendation>

  <div *ngIf="currentSection === 'pending reads'" class="lecturas-container">
    <app-book-list></app-book-list>
  </div>
</div>
