<div class="catalog-container">

  <div class="catalog-menu">
    <button (click)="scrollToSection('home')">home</button>
    <button (click)="scrollToSection('featured-author')">featured author</button>
    <button (click)="scrollToSection('pending-reads')">pending reads</button>
    <button (click)="scrollToSection('recommendations')">recommendations</button>
  </div>

  <div id="home" class="section"> 
    <app-start></app-start>
  </div>

  <div id="featured-author" class="section">
    <app-prominent-author></app-prominent-author>
  </div>

  <div id="pending-reads" class="section">
    <app-book-list></app-book-list>
  </div>

  <div id="recommendations" class="section">
    <app-recommendation></app-recommendation>
  </div>
</div>
