@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Nunito+Sans:wght@400;600&display=swap');

.footer {
  max-width: 900px;
  margin: 0 auto;
  background: linear-gradient(
    145deg,
    rgba(25, 118, 128, 0.35),
    rgba(15, 40, 45, 0.55)
  );
  color: #807c7c;
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: 16px 20px;
  border-top-left-radius: 50px;
  border-end-end-radius: 50px;

}
.footer-content {
  text-align: center;
  padding: 16px 20px;
  font-size: 14px;
}