<div class="bento-container">

  <div class="bento-item description">
    <h3>¿Qué es un Book Journal?</h3>
    <p>Un Book Journal es un espacio personal donde puedes registrar tus lecturas, reflexiones y emociones sobre los libros que lees.</p>
    <p>Es una herramienta para organizar tus pensamientos y seguir tu progreso como lector de manera personalizada, adaptándose a tus necesidades si buscas registrar tus lecturas.</p>
    <p>Un Book Journal puede incluir reseñas, citas favoritas y notas sobre los personajes y tramas que más te impactaron.</p>
  </div>
  <div class="bento-item searchHere">
    <h3>¿Qué encontrarás en Finereads?</h3>
    <p>En Finereads, encontrarás un espacio dedicado a tus lecturas, donde podrás llevar un registro de tus libros leídos, tus pensamientos y emociones sobre cada uno de ellos.</p>
    <p>Además, podrás descubrir nuevas lecturas recomendadas, así como compartir tus propias reseñas y opiniones con otros lectores.</p>
    <p>Finereads es la herramienta perfecta para cualquier amante de los libros que desee profundizar en su experiencia de lectura.</p>
    <h4>Y lo mejor de todo... ¡Solo es tuyo!</h4>
  </div>
  <div
    class="bento-item large card-text1"
    (mouseenter)="messageOn()"
    (mouseleave)="messageOff()"
  >
    <h3>{{ bento1 }}</h3>
    <p>Solo hace falta abrir la página correcta</p>

    <div class="bento-overlay" *ngIf="printThis">
      <h3>¿Sabías que...?</h3>
      <p>{{ bento2 }}</p>
      <p>Leer es un ritual antiguo: encender la mente, sumergirse en lo desconocido, escuchar el murmullo de otras vidas.</p>
      <p>Quien lee, habita muchos cuerpos, muchas almas, muchos destinos.</p>
    </div>
  </div>

  <div class="bento-item medium">
    <h3>Lecturas breves</h3>
    <p>Algunas palabras son puertas a otros mundos.</p>
  </div>
  
</div>
