<div class="bento-container">

  <div class="bento-item description">
    <h3>¿Qué es un Book Journal?</h3>
    <p>Un Book Journal es un espacio personal donde puedes registrar tus lecturas, reflexiones y emociones sobre los libros que lees.</p>
    <p>Es una herramienta para organizar tus pensamientos y seguir tu progreso como lector de manera personalizada, adaptándose a tus necesidades si buscas registrar tus lecturas.</p>
    <p>Un Book Journal puede incluir reseñas, citas favoritas y notas sobre los personajes y tramas que más te impactaron.</p>
    <div class="bento-item tiny-label">
      <h2>FINEREADS</h2>
    </div>
  </div>
 
  <div class="bento-item searchHere">
    <h3>¿Qué encontrarás en Finereads?</h3>
      {{descriptionFinereads}}    
      <h4>Y lo mejor de todo... ¡Solo es tuyo!</h4>
  </div>
  <div
    class="bento-item large card-text1"
    (mouseenter)="messageOn()"
    (mouseleave)="messageOff()"
  >
    <h3>{{ bento1 }}</h3>
    <p>Solo hace falta abrir la página correcta</p>

    <div class="bento-overlay" *ngIf="printThis">
    </div>
   
  </div>
 <div class="bento-item sabiasque">
    <img [src]="image[0]" alt="Sabías que...">
  </div>
</div>
