@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Quicksand:wght@400;600&family=Pinyon+Script&display=swap');

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-banner {
  margin-top: 5%;
  width: 65%;
  height: 220px; 
  object-fit: cover; 
  display: block;
}

.hero-text {
  position: absolute;
  top: 60%;
  left: 19%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px 40px;
  border-radius: 8px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #393E46;
}



.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  background: none;
  text-align: end;
  left: 10%;

}

.hero-text p {
  font-size: 2rem;
  margin: 0;
  background: none;
  font-family: 'Pinyon Script', cursive;
  color: #393E46;
    text-align: end;

}

@media (max-width: 768px) {
  .hero-banner {
    height: 180px;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}
